.categories-list {
  padding-top: 1rem;

  a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7rem;

    &:hover, &.categories-list__category--active {
      color: #90732f;
    }
  }
}
