.sidebar {
  font-size: 0.85rem;
  color: #9b9b9b;

  a {
    color: #9b9b9b;
  }

  & > div {
    margin-bottom: 2rem;
    display: block;
  }

  h2 {
    color: #808186;
    font-size: 1rem;
    border-bottom: 1px solid #404144;
    padding-bottom: 1rem;
    margin-bottom: 0.75rem;
  }

}

.sidebar .sidebar__search {
  margin-bottom: 6rem;

  p {
    color: #90732f;
  }

  .home__magform {
    padding: 0;

    & > * {
      height: 1.5rem;
      line-height: 1.5rem;
    }

    input[name=title],
    input[name=zipCode],
    .home__magform__find-near-me,
    button {
      width: 100%;
      padding: 0 0.3rem;
      margin-bottom: 0.3rem;
    }

    button {
      text-align: center;
    }

    .home__magform__error {
      top: 7rem;
    }
  }
}

