@import "./mixins.less";
@import "../most_popular/most_popular.less";
@import "../top_panel/top_panel.less";

.magazine {
  min-height: 100%;
  background-color: #292a2e;
  padding-top: @topPanelHeight;
  padding-bottom: @mostPopularPanelHeight;
  color: white;

  .message--loading, .message--error, .message--empty {
    text-align: center;
  }

  .favorite-magazine-button {
    margin: 0.5rem 0;
  }
}

.magazine__footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;

  .dealer-preview {
    max-width: @contentMaxWidth;
    margin: auto;
  }
}

.magazine__content {
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 1rem;
}

.magazine__basic-info,
.magazine__results {
  display: table;
  width: 100%;

  & > * {
    vertical-align: top;
    display: table-cell;
  }

  & > div:first-child {
    width: 55%;
  }

  & > div:last-child {
    width: 45%;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
}

.magazine__results {
  margin: 0.5rem 0;
}

.magazine__results__details {
  color: #7d7e80;

  p:first-child {
    margin-bottom: 0.5rem;
  }

  em {
    color: white;
  }
}

.magazine__results__from {
  div {
    color: #a5853d;
    display: inline-block;
  }

  div:last-child {
    span:first-child {
      font-size: 1rem;
    }

    span:last-child {
      font-size: 0.75rem;
      line-height: 0.75rem;
      vertical-align: top;
    }
  }
}

.magazine__cover {
  padding-right: 1em;

  div {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: white;
    .mixin_magazine_cover();
  }
}

.magazine__description {
  position: relative;

  & > div {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 1.5rem;
    right: 0;
    overflow: auto;
  }

  & > div.magazine__share {
    top: inherit;
    bottom: 0;
    font-size: 1rem;
    text-align: left;
    padding-top: 0.2rem;

    .share-magazine-button {
      margin: 0 0.25rem;
    }
  }
}

.magazine__buttons a {
  width: 45%;
  text-decoration: none;
  display: inline-block;
  padding: 0.6rem 0;
  color: white;
  text-align: center;
  margin-top: 0.3rem;
  border-radius: 0.2rem;

  &:first-child {
    background-color: #288b7f;
    margin-right: 5%;
  }

  &:last-child {
    background-color: #36b7cb;
    margin-left: 5%;
  }
}

@media(min-width: @tabletMinSize) {
  .magazine__content {
    display: none;
  }
}
