@import "../../public/responsive.less";
@import "./mixins.less";

.magazine-preview {
  border-bottom: 1px solid #404144;
  text-decoration: none;
  position: relative;
  display: table;
  width: 100%;
  padding: 0.6rem 0rem 0.9rem 1rem;
  background-color: #292a2e;
  color: white;

  & > * {
    vertical-align: middle;
    display: table-cell;
  }

  .magazine-preview__click-icon {
    font-size: 2.2rem;
    color: #56595F;
  }
}

.magazine-preview__cover {
  width: 20%;
  text-align: left;

  div {
    width: 100%;
    max-width: 8rem;
    display: inline-block;
    position: relative;
    background-color: white;
    .mixin_magazine_cover();
  }
}

.magazine-preview__info {
  width: 70%;
  padding: 0 0.7rem;
  position: relative;
  font-size: 0.75rem;
  line-height: 1rem;
  vertical-align: top;

  h2 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  p {
    width: 100%;
    max-height: 2rem;
    overflow: hidden;
  }
}

.magazine-preview__info__field {
  div {
    display: inline-block;

    &:first-child {
      color: #868788;
      margin-right: 0.3rem;
    }
  }

  &.magazine-preview__info__from {
    div {
      color: #a5853d;
    }

    div:last-child {
      span:first-child {
        font-size: 1rem;
      }

      span:last-child {
        font-size: 0.75rem;
        line-height: 0.75rem;
        vertical-align: top;
      }
    }
  }
}

.magazine-preview__count {
  color: #868788;
  em {
    color: white;
  }
}

.magazine-preview__share {
  text-align: left;
  padding-top: 0.5rem;

  .share-magazine-button,
  .favorite-magazine-button {
    margin: 0 0.25rem;
  }

  .favorite-magazine-button {
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 0.1rem 0.25rem;
    vertical-align: top;

    i {
      position: static;
    }

    span {
      display: inline-block;
      padding-left: 0.25rem;
      padding-right: 0.1rem;
    }
  }
}

.magazine-preview__remove-favorite {
  margin: 1rem 0;

  button {
    font-size: 0.7rem;
    background-color: #D8554B;
    color: white;
    border: 1px solid #BB1C52;
    border-radius: 0.3rem;
    padding: 0.3rem 1.2rem;
    cursor: pointer;
  }
}

@media(min-width: @tabletMinSize) {
  .magazine-preview__info {
    line-height: 1.3rem;

    & > * {
      margin-bottom: 0.5rem;
    }

    p {
      max-height: 4rem;
    }
  }

  .magazine-preview__info__from {
    margin-top: 0.5rem;
  }

  .magazine-preview {
    .magazine-preview__click-icon {
      display: none;
    }
  }

  .magazine-preview__share {
    text-align: right;
  }
}
