.mixin_magazine_cover() {
  /*
    this mixin forces a 3:4 ratio between height and width
    http://www.mademyday.de/css-height-equals-width-with-pure-css.html
  */

  &:before{
    content: "";
    display: block;
    margin-top: 133%; /* ratio of 4:3*/
  }

  div {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
