@import "../top_panel/top_panel.less";

.category {
  min-height: 100%;
  background-color: #292a2e;
  padding-top: @topPanelHeight;
  padding-bottom: 2rem;

  .message {
    text-align: center;
    color: #808186;
    padding: 1rem 0.5rem;
  }
}

.category__footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;

  .dealer-preview {
    max-width: @contentMaxWidth;
    margin: auto;
  }
}

.category__magazines {
  overflow: auto;
  width: 100%;
}

.category__count {
  padding: 1rem;
  color: #808186;
  border-bottom: 1px solid #404144;
  display: table;
  width: 100%;

  & > div {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }
}

.category__sort-buttons {
  text-align: center;
  border-bottom: 1px solid #404144;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;

  a {
    display: inline-block;
    text-decoration: none;
    color: #a5853d;
    border: 1px solid #404144;
    border-right: none;
    padding: 0.7rem 1.1rem;

    &:nth-child(3), &:last-child {
      border-right: 1px solid #404144;
    }

    &:last-child {
      margin-left: 0.8rem;
    }

    &.active {
      background-color: black;
      color: white;
    }
  }
}

.category__content {
  max-width: @contentMaxWidth;
  margin: auto;
  margin-bottom: 3rem;
}

@media(min-width: @tabletMinSize) {
  .category__magazines {
    overflow: hidden;

    .magazine-preview {
      display: inline-block;
      width: 33.3%;
      padding: 1rem;

      & > * {
        display: block;
        width: 100%;
      }

      i {
        display: none;
      }
    }

    .magazine-preview__cover {
      width: 100%;
    }

    .magazine-preview__info {
      width: 100%;
      padding: 0;

      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }

      p {
        display: none;
      }
    }
  }
}

@media(min-width: @desktopMinSize) {
  .category__magazines .magazine-preview {
    width: 25%;
  }

  .category__content > div {
    display: inline-block;
    padding-left: 0.3rem;

    &:first-child {
      width: 20%;
      vertical-align: top;
    }

    &:last-child {
      width: 80%;
    }
  }
}
