@import "../most_popular/most_popular.less";
@import "../top_panel/top_panel.less";
@footerHeight: 5rem;

.account {
  min-height: 100%;
  padding-top: @topPanelHeight;
  padding-bottom: @footerHeight;
  color: white;

  .user-form {
    margin-bottom: 1rem;
  }
}

.account__content {
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

.account__footer {
  .most-popular;
  height: @footerHeight;
  text-align: center;

  a {
    text-decoration: none;
    font-size: 0.9rem;
    display: inline-block;
    padding: 0.75rem 5rem;
    background-color: #E3E6EC;
    color:  black;
    border-radius: 0.3rem;
    margin-top: 1.3rem;
  }
}

.account__nav-buttons {
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;

  a {
    display: inline-block;
    text-decoration: none;
    width: 33%;
    max-width: 8rem;
    padding: 0.5rem 0;
    overflow: hidden;
    text-align: center;
    background-color: white;
    color: #4286F5;
    border: 1px solid #4286F5;
    cursor: pointer;

    &:first-child {
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
      border-left: none;
    }

    &.active {
      background-color: #4286F5;
      color: white;
      cursor: default;
    }
  }
}

.user-form {
  display: table;
  width: 100%;
  background-color: white;
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;

  span, input, button {
    display: inline-block;
    vertical-align: middle;
  }

  &.user-form--empty {
    color: #959393;
  }

  input[type="checkbox"] {
    width: auto;
    border: 1px solid black;
  }
}

.user-form__field {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  padding-right: 0.3rem;

  span {
    line-height: 1.5rem;
  }

  input {
    width: 100%;
    padding: 0.2rem 0;
  }
}

.user-form__buttons {
  display: table-cell;
  vertical-align: middle;
  margin-left: 0.2rem;

  button, a {
    display: inline-block;
    width: 6rem;
    text-decoration: none;
    margin: 0.2rem 0;
    background-color: #4DCE6E;
    color: white;
    line-height: 1.5rem;
    text-align: center;
    border-radius: 0.3rem;
    border: 0;
    cursor: pointer;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size: 0.85rem;

    &.user-form__verify-btn {
      background-color: #4286F5;
    }

    &.user-form__cancel-btn {
      background-color: #E3E6EC;
      color: black;
    }
  }
}

.user-form__error {
  color: #f36565;
  font-size: 0.8rem;
  padding: 0.3rem 0;
  display: block;
}

.communication-preferences-form {
  h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.2rem;
  }

  label {
    display: inline-block;

    span {
      display: inline-block;
      width: auto;
      margin: 0 0.5rem;
      font-size: 0.9rem;
      vertical-align: super;
    }

    &:first-of-type {
      margin-right: 2rem;
    }

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}
