.signup-index__signup-btn {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  position: relative;

  i {
    display: inline-block;
    position: absolute;
    left: 1rem;
    font-size: 1rem;
  }
}

.signup-index__signup-btn--facebook {
  background-color: #425E9E;
}

.signup-index__signup-btn--twitter {
  background-color: #00ABF0;
}

.signup-index__signup-btn--email {
  background-color: #B7B7B7;
}

.signup-index__disclaimer {
  padding: 0.5rem 0;
  font-size: 0.7rem;
  line-height: 1rem;

  a {
    color: #378DCC;
    text-decoration: none;
  }
}

.signup-index__divider {
  color: #D6D6D6;
  text-align: center;
  position: relative;
  height: 1em;
  margin: 0.8rem 0;
  font-size: 0.9rem;

  span {
    display: inline-block;
    background-color: white;
    padding: 0 0.5rem;
    position: absolute;
    left: 50%;
    margin-left: -0.7em;
  }

  &::before {
    content: " ";
    display: block;
    border-bottom: 1px solid #D6D6D6;
    position: relative;
    top: 0.5rem;
  }
}

.signup-with-email  .modal-layout__modal__content{
  padding: 0.5rem 2rem;
}

.signup-with-email__form {
  input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.3rem;
  }
}

.signup-with-email__loading,
.signup-with-email__error {
  font-size: 0.8rem;
  line-height: 1rem;
  height: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.signup-with-email__loading {
  color: #9A9A9A;
}

.signup-with-email__error {
  color: #f36565;
}

.signup-with-email__tab {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem;
  width: 48%;
  background-color: #9A9A9A;
  color: black;
  text-align: center;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  &:first-child {
    margin-right: 2%;
  }

  &:hover,
  &.signup-with-email__tab--active {
    border: 1px solid #9A9A9A;
    border-bottom: none;
    background-color: white;
  }
}
