.verify-phone__status-msg {
  position: relative;
  top: -0.7rem;
  font-size: 0.8rem;
  text-align: center;

  &.verify-phone__status-msg--success {
    color: #5CDB72;
  }

  &.verify-phone__status-msg--error {
    color: #F75454;
  }
}

.verify-phone__code {
  text-align: center;

  input {
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    width: 2.2rem;
    line-height: 2.5rem;
    color: #4E5F6F;
  }
}

.verify-phone__separator {
  display: inline-block;
  width: 1rem;
  border-bottom: 1px solid black;
  margin: 0 0.3rem;
  margin-top: rem;
  position: relative;
  top: -0.5rem;
}

.verify-phone__msg {
  text-align: center;
  padding: 0.8rem 0;
  font-size: 0.9rem;
  border: 1px solid #E7E7E7;
  margin: 1rem auto;
  max-width: 15rem;

  div:last-child {
    margin-top: 0.5rem;
    font-weight: 400;
  }
}

.verify-phone__submit-btn {
  display: block;
  width: 100%;
  max-width: 15rem;
  color: white;
  background-color: #B9D7ED;
  padding: 0.6rem 0;
  margin: 0.5rem auto;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.3rem;

  &.verify-phone__submit-btn--active {
    background-color: #378DCC;
    cursor: pointer;
  }
}
