/* Font Icons generated with Fontastic */

@charset "UTF-8";

@font-face {
  font-family: "magfinder";
  src:url("fonts/magfinder.eot");
  src:url("fonts/magfinder.eot?#iefix") format("embedded-opentype"),
    url("fonts/magfinder.woff") format("woff"),
    url("fonts/magfinder.ttf") format("truetype"),
    url("fonts/magfinder.svg#magfinder") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "magfinder" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "magfinder" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search-find:before {
  content: "a";
}
.icon-pin:before {
  content: "b";
}
.icon-info-circled:before {
  content: "c";
}
.icon-angle-right:before {
  content: "d";
}
.icon-spinner:before {
  content: "e";
}
.icon-home:before {
  content: "f";
}
.icon-angle-down:before {
  content: "g";
}
.icon-angle-left:before {
  content: "h";
}
.icon-angle-up:before {
  content: "i";
}
.icon-twitter:before {
  content: "k";
}
.icon-facebook-square:before {
  content: "j";
}
.icon-twitter-square:before {
  content: "l";
}
.icon-facebook:before {
  content: "m";
}
.icon-user:before {
  content: "n";
}
.icon-email:before {
  content: "o";
}
.icon-star:before {
  content: "p";
}
.icon-star-half:before {
  content: "q";
}
