html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  background-color: #292a2e;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:focus, button:focus {
  outline: 0;
}

i {
  vertical-align: middle;
  &::before{
    display: inline-block;
    width: 1em;
  }
}

input {
  border-radius: 0;
}

.clearfix {
  clear: both;
}
