@tabletMinSize: 35rem;
@desktopMinSize: 50rem;
@contentMaxWidth: 60rem;

/*
  This allows us to share media queries with javascript.
  From JS, run:
  ```
  window.getComputedStyle(document.body,':after').getPropertyValue('content');
  ```
*/
@media all and (min-width: @tabletMinSize) {
  body:after {
      content: 'tablet';
      display: none;
  }
}

@media all and (min-width: @desktopMinSize) {
  body:after {
      content: 'desktop';
      display: none;
  }
}
