@import "../../public/responsive.less";
@import "../most_popular/most_popular.less";
@import "../top_panel/top_panel.less";

@hero_bg_color: #2f8dac;
@magazineHeight: 4rem;
@magazineWidth: @magazineHeight * 3 / 4;

.home {
  min-height: 100%;
  background-color: #292a2e;
  padding-top: @topPanelHeight;
  padding-bottom: @mostPopularPanelHeight;
}

.home__video-link{
  color: white;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.home__info-bar {
  padding: 0.3rem 0.9rem;
  color: #fafbfb;

  .button {
    color: #fafbfb;
    font-size: 0.9rem;

    i {
      vertical-align: middle;
    }
  }

  a {
    display: inline-block;
    color: white;
    text-decoration: none;
  }

  & > div {
    float: right;
  }

}

.home__hero {
  margin: 0.3rem 0.9rem;
  margin-bottom: 0;
}

.home__hero__info {
  background-color: @hero_bg_color;
  background-image: url('./bg.svg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
  text-align: center;
  color: white;
  padding: 2.5rem 0;
  line-height: 1.5rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

}

.home__magform {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0.9rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  background-color: white;
  position: relative;

  & > * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.5rem;
    line-height: 100%;
    margin: 0.25rem 0;
    padding-left: 0.6rem;
    vertical-align: middle;
  }

  input {
    border: 1px solid #c1c1c1;
  }

  input, label, button {
    font-size: 0.85rem;
  }

  input[name=title], button {
    width: 100%;
  }

  input[name=zipCode], .home__magform__find-near-me {
    width: 50%;
    display: inline-block;
  }

  .home__magform__find-near-me {
    overflow: hidden;
    border: 1px solid #c1c1c1;
    border-right: none;
    color: @hero_bg_color;
    line-height: 2.5rem;

    input[type=checkbox] {
      display: none;
    }

    label {
      height: 2.4rem;
    }

    label:before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      font-size: 0.75rem;
      line-height: 1rem;
      margin-right: 0.3rem;
      background-color: white;
      color: @hero_bg_color;
      border: 1px solid @hero_bg_color;
      text-align: center;
      position: relative;
      top: -1px;
      vertical-align: middle;
    }

    input[type=checkbox]:checked + label:before {
      content: "\2713";
    }

    &.home__magform__find-near-me--loading {
      label:before {
        font-family: "magfinder";
        content: "e";
      }
    }

    &.home__magform__find-near-me--disabled {
      label {
        color: #d5d5d5;
      }

      label:before {
        background-color: #d5d5d5;
        border: 1px solid #adadad;
      }
    }
  }

  button {
    background-color: @hero_bg_color;
    color: white;
    border: none;
  }
}

.home__magform__error {
  color: #f36565;
  font-size: .8em;
  line-height: 1rem;
  height: 1rem;
  text-align: center;
}

@media(min-width: @tabletMinSize) {
  .home__info-bar {
    display: none;
  }

  .home__video-link{
    color: #2f8dac;
  }

  .home__hero__info {
    background: transparent;
  }

  .home__content {
    background-image: url('./hero_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5rem 1rem;
  }

  .home__hero {
    display: table;
    width: 100%;
    max-width: @contentMaxWidth;
    margin: auto;
    padding: 0 0.5rem;
  }

  .home__hero__info, .home__hero__magazines {
    display: table-cell;
  }

  .home__hero__info {
    padding: 0;
    vertical-align: middle;

    div, p {
      text-align: left;
    }

    br {
      display: none;
    }

    h2 {
      font-size: 1.1rem;
      margin-bottom: 0.4rem;
      em {
        font-weight: 500;
      }
    }

    p {
      color: #2f8dac;
      font-size: 0.9rem;
      line-height: 1rem;
      em {
        font-weight: 600;
      }
    }
  }

  .home__magform {
    max-width: @contentMaxWidth;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.3rem 0.5rem;
    background-color: #292a2e;

    & > * {
      margin: 0;
    }

    input[name="title"]{
      width: 35%;
    }
    input[name="zipCode"],
    .home__magform__find-near-me {
      background-color: white;
      width: 20%;
    }
    button {
      width: 25%;
    }
  }

  .home__hero__magazines {
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    div {
      display: inline-block;
      margin: 0 1%;
      background-size: cover;
      height: @magazineHeight;
      width: @magazineWidth;
    }
  }

  .home__magform__error {
    position: absolute;
    left: 0;
    right: 0;
    top: 3.8rem;
    background-image: url(hero_wallpaper.jpg);
  }

}

@media(min-width: @desktopMinSize) {
  .home__hero {
    min-height: @magazineHeight * 1.75;
  }

  .home__hero__magazines > div {
    margin: 0;
    position: relative;

    /* ordered from right to left, biggest to smallest */

    &:nth-child(4){
      width: @magazineWidth * 1.75;
      height: @magazineHeight * 1.75;
    }

    &:nth-child(3){
      width: @magazineWidth * 1.5;
      height: @magazineHeight * 1.5;
      right: -1 * (@magazineWidth * 1.5 - 1.5rem);
    }

    &:nth-child(2){
      width: @magazineWidth * 1.25;
      height: @magazineHeight * 1.25;
      right: -1 * (@magazineWidth * 1.5 + @magazineWidth * 1.25 - 3rem);
    }

    &:nth-child(1){
      right: -1 * (@magazineWidth * 1.5 + @magazineWidth * 1.25 + @magazineWidth - 4.5rem);
    }
  }
}
