@import "../magazine/mixins.less";
@import "../../public/responsive.less";

.browse-categories {
  color: white;
  width: 100%;

  .message {
    margin: 0.5rem;
    text-align: center;
  }
}

.browse-categories__category {
  border-bottom: 1px solid #404144;
  text-decoration: none;
  position: relative;
  display: table;
  padding: 0.6rem 0rem 0.9rem 1rem;

  & > * {
    vertical-align: middle;
    display: table-cell;
  }

  i {
    font-size: 2.2rem;
    color: #56595F;
  }
}

.browse-categories__category__covers {
  width: 37%;
  overflow: hidden;
  white-space: nowrap;

  div {
    display: inline-block;
    position: relative;
    background-size: cover;
    .mixin_magazine_cover();

    // will be displayed biggest and farthest to the left
    &:nth-child(1) {
      width: 50%;
      z-index: 3;
    }

    &:nth-child(2) {
      width: 45%;
      margin-left: -17%;
      top: -1.2vw;
      z-index: 2;
    }

    // will be displayed smallest and farthest to the right
    &:nth-child(3) {
      width: 35%;
      margin-left: -13%;
      top: -3.5vw;
      z-index: 1;
    }

  }
}

.browse-categories__category__info {
  text-align: right;
  width: 63%;

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: #e8e8e8;
  }

  p {
    font-size: 1rem;
    color: #ab8632;
  }
}

@media(min-width: @tabletMinSize) {
  .browse-categories {
    max-width: @contentMaxWidth;
    margin: auto;
    padding: 0 1rem;
  }

  .browse-categories__category {
    display: inline-block;
    width: 33.3%;
    padding: 1rem;

    i {
      display: none;
    }

    & > * {
      display: block;
      text-align: left;
    }
  }

  .browse-categories__category__covers {
    width: 100%;
    div {
      display: none;
    }
    div:first-child {
      display: inline-block;
      width: 100%;
    }
  }

  .browse-categories__category__info {
    width: 100%;

    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1rem;
      margin-top: 0.5rem;
    }
  }
}

@media(min-width: @desktopMinSize) {
  .browse-categories__category {
    width: 25%;
  }
}
