@import "../top_panel/top_panel.less";

.browse {
  min-height: 100%;
  background-color: #292a2e;
  padding-top: @topPanelHeight;
  padding-bottom: 1.8rem;
}

.browse__footer {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;

  .dealer-preview {
    max-width: @contentMaxWidth;
    margin: auto;
  }
}

.browse__content {
  max-width: @contentMaxWidth;
  margin: auto;
  margin-bottom: 3rem;
}

@media(min-width: @desktopMinSize) {
  .browse__content > div {
    display: inline-block;
    padding-left: 0.3rem;

    &:first-child {
      width: 20%;
      vertical-align: top;
    }

    &:last-child {
      width: 80%;
    }
  }
}
