.browse-dealers {
  color: white;
  overflow: auto;
  width: 100%;

  .message {
    margin: 0.5rem;
    text-align: center;
  }

  .dealer-preview {
    background-color: #292a2e;
  }

  .dealer-preview__info {
    width: 50%;
    color: #757878;
    h2 {
      color: #ececec;
    }
  }

  .dealer-preview__directions {
    width: 40%;
    a {
      color: #ececec;
    }
  }
}
