@import "../most_popular/most_popular.less";
@import "../top_panel/top_panel.less";

@gray: #838383;

.feedback-index {
  text-align: center;
  padding-top: 2rem;

  a {
    display: inline-block;
    border-radius: 1.5em;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 0.5em 1.5em;
    overflow: hidden;
    margin: 1em;
  }
}

.feedback-form {
  padding: 0 1.5rem;
  max-width: 35rem;
  margin: auto;

  h2 {
    font-size: 1.1rem;
    margin: 1.5rem 0;
  }

  p {
    margin: 1rem 0;
    font-size: 0.9rem;
  }

  input, textarea {
    font-family: Arial;
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  textarea {
    min-height: 5rem;
  }
}

.feedback-form__submit {
  text-align: center;
  margin: 1rem 0;

  button {
    cursor: pointer;
    display: inline-block;
    background-color: #46C3D4;
    color: white;
    padding: 0.5rem 3.5rem;
    border-radius: 0.2rem;
    border: none;
  }
}

.feedback-form__error {
  color: #f36565;
  font-size: 0.8rem;
  line-height: 1rem;
  height: 1rem;
  text-align: center;
}

.feedback-form__loading,
.feedback-form__success {
  margin: 1rem 0;
  text-align: center;
}
