.dealer-preview {
  display: table;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #dadadb;
  background-color: white;
  cursor: pointer;

  & > * {
    display: table-cell;
  }

  i {
    &:first-child {
      color: #a5853d;
      font-size: 1.5rem;
      margin-bottom: 0.3rem;
      display: block;
    }

    &:last-child {
      color: #bdbdbd;
      font-size: 1.5rem;
    }
  }

  &.dealer-preview--active i:first-child{
    color: #f2433f;
  }
}

.dealer-preview__icon {
  text-align: center;
  vertical-align: bottom;
}

.dealer-preview__info {
  width: 60%;
  padding:  0 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #656565;

  h2 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
}

.dealer-preview__address,
.dealer-preview__city-state {
  display: block;
}

.dealer-preview__price {
  display: inline-block;
  margin-right: 0.5rem;

  span:first-child {
    font-size: 1rem;
  }

  span:last-child {
    font-size: 0.75rem;
    line-height: 1rem;
    vertical-align: top;
  }
}

.dealer-preview__button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #36b7cb;
  padding: 0 1em;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;

  &.dealer-preview__button--disabled {
    background-color: #d7d7d7;
    color: #949494;
  }
}

.dealer-preview__directions {
  width: 30%;
  vertical-align: middle;
  text-align: right;
  font-size: 0.75rem;

  a {
    display: inline-block;
    text-decoration: none;
    color: #36b7cb;
  }
}
