@import "../../public/responsive.less";
@import "../top_panel/top_panel.less";

.dealers {
  background-color: #292a2e;
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: @topPanelHeight;
  max-width: @contentMaxWidth;
  margin: auto;

  & > div {
    display: table-cell;
  }

  .message {
    text-align: center;
    color: #808186;
    padding: 1rem 0.5rem;
  }
}

.dealers__main > div {
  display: table;
  height: 100%;
  width: 100%;

  & > div {
    display: table-row;
  }
}

.dealers__content {
  height: 100%;

  & > div {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.dealers__list,
.dealers__map {
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dealers__map {
  overflow: hidden;
}

.dealers__list {
  overflow-x: hidden;
  overflow-y: auto;
}

.dealers__count {
  font-size: 0.9rem;
  padding: 0.3rem 1rem;
  background-color: #292a2e;
  color: #808186;
  border-bottom: 1px solid #404144;
  display: table;
  width: 100%;

  & > div {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }
}

.dealers__buttons {
  background-color: #292a2e;
  padding: 0.9rem 1rem;
  font-size: 0.9rem;
  display: table;
  width: 100%;

  & > div {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }

  a {
    color: #808186;
    text-decoration: none;
    border: 1px solid #404144;
    padding: 0.2em 0.8em;

    &.active {
      background-color: black;
    }
  }

  .dealers__buttons__distance {
    border-radius: 1em;
  }

  .dealers__buttons__map {
    border-left: none;
  }
}

@media(min-width: @tabletMinSize) {
  .dealers__list {
    right: 50%;
  }
  .dealers__map {
    left: 50%;
  }
  .dealers__buttons > div:last-child {
    display: none;
  }
}

@media(min-width: @desktopMinSize) {
  .dealers__sidebar {
    width: 25%;
    vertical-align: top;
    position: relative;

    .sidebar {
      position: absolute;
      display: block;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 0.5rem;
    }
  }
  .dealers__main {
    padding-left: 1rem;
    width: 75%;
    vertical-align: top;
  }
}
