.distance-selector {
  background-color: #eaeaea;
  width: 100%;
  padding: 1.5rem 2rem 0.5rem 2rem;
}

.distance-selector__bar {
  height: 0.15rem;
  width: 100%;
  background-color: #cfcfcf;
  margin: auto;
  margin-bottom: 1.2rem;
  position: relative;
}

.distance-selector__fill {
  height: 0.15rem;
  background-color: #32b3cf;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.distance-selector__mark {
  position: absolute;
  display: inline-block;
  background-color: #32b3cf;
  border-radius: 50%;
  height: 0.7rem;
  width: 0.7rem;
  top: 0;
  margin-top: -0.3rem;
  margin-left: -0.3rem;

  &.distance-selector__mark--unselected {
    background-color: #cfcfcf;
  }
}

.distance-selector__knob {
  position: absolute;
  display: inline-block;
  border: 1px solid #a9a9a9;
  background-color: white;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
  top: 0;
  margin-top: -0.55rem;
  margin-left: -0.55rem;
}

.distance-selector__label {
  color: #878787;
  display: inline-block;
  position: absolute;
  top: 0.8rem;
  font-size: 0.85rem;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.distance-selector__button {
  text-align: center;
  padding-top: 1rem;

  button {
    background: none;
    display: inline-block;
    border: 1px solid #838383;
    border-radius: 1.5rem;
    color: #838383;
    padding: 0.25rem 1.3rem;
    max-width: 8rem;
    overflow: hidden;
    font-size: 0.85rem;

    &:hover {
      cursor: pointer;
    }
  }
}
