@import "../../public/responsive.less";

@gray: #838383;
@lightGray: #eaebec;
@topPanelHeight: 3rem;
@buttonHeight: @topPanelHeight - 1;

.top-panel {
  background-color: white;
  height: @topPanelHeight;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .top-panel__button {
    display: inline-block;
    position: absolute;
    top: 50%;
    border-radius: 1.5em;
    color: @gray;
    border: 1px solid @gray;
    text-decoration: none;
    height: @buttonHeight;
    margin-top: -(@buttonHeight /2);
    line-height: @buttonHeight;
    padding: 0 1.5em;
    overflow: hidden;
  }

  .search-input {
    position: absolute;
    top: 50%;
    right: 0.5rem;
  }
}

.top-panel .top-panel__home-btn {
  left: 0.5rem;
  padding: 0.1rem 0.3rem;
  font-size: 1.4rem;
}

.top-panel .top-panel__browse-btn {
  left: 3rem;

  &.top-panel__browse-btn--expanded {
    position: absolute;
    top: 50%;
    width: 18rem;
    left: 3rem;
    text-align: center;

    .top-panel__button {
      border-radius: 0;
      display: inline-block;
      width: 50%;
      position: static;

      &:first-child {
        border-bottom-left-radius: 1.5em;
        border-top-left-radius: 1.5rem;
      }

      &:last-child {
        border-left: 0;
        border-bottom-right-radius: 1.5em;
        border-top-right-radius: 1.5rem;
      }
    }
  }
}

.top-panel .top-panel__login-btn {
  right: 3.5rem;
  padding: 0;
  border: none;
}

.top-panel .top-panel__account-btn {
  right: 3.5rem;
  margin-top: -0.6rem;
  font-size: 1.1rem;
  padding: 0;
  border: none;
}

/*
  on the mobile version, top panel buttons are shown/hidden depending on the
  'search-active' class
*/
.top-panel.top-panel--search-active {
  .top-panel__home-btn,
  .top-panel__browse-btn,
  .top-panel__login-btn,
  .top-panel__account-btn {
    display: none;
  }

  @media(min-width: @tabletMinSize) {
    .top-panel__home-btn, .top-panel__browse-btn {
      display: block;
    }
    .top-panel__browse-btn {
      right: 25rem;
    }
    .search-input {
      width: 25rem;
      left: initial;
      right: 0;
      input {
        background-color: #292a2e;
        color: white;
      }
    }
  }
}

@media(min-width: @tabletMinSize) {
  .top-panel {
    background-color: #292a2e;
    max-width: @contentMaxWidth;
    margin: auto;

    .top-panel__home-btn {
      border: none;
      background-image: url('/public/bg_lighter.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      height: @topPanelHeight;
      line-height: @topPanelHeight - 0.5;
      top: @topPanelHeight * 0.26;

      &:before {
        font-size: 0.7rem;
        color: white;
        content: "MagFinder";
      }

      i {
        display: none;
      }
    }

    .top-panel__browse-btn,
    .top-panel__browse-btn.top-panel__browse-btn--expanded {
      border: none;
      left: initial;
      right: 13rem;
      text-align: right;
      width: auto;

      .top-panel__button {
        width: auto;
        padding: 0;

        &:first-child::after {
          content: " | ";
          margin: 0 0.5rem;
        }

        &:last-child {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
