@import "../top_panel/top_panel.less";

.search-results {
  min-height: 100%;
  background-color: #292a2e;
  padding-top: @topPanelHeight;
  padding-bottom: 2rem;

  .message {
    text-align: center;
    padding: 1rem 0.5rem;
    color: #808186;
  }

  &.search-results--empty {
    background-color: white;
  }
}

.search-results__magazines {
  overflow: auto;
  width: 100%;
}

.search-results__count {
  padding: 1rem;
  color: #808186;
  border-bottom: 1px solid #404144;
  display: table;
  width: 100%;

  & > div {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }
}

.empty-search-results {
  & > div {
    border-top: 1px solid @gray;
    padding: 1rem 0.8rem;
    line-height: 1.4rem;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: disc;
    margin-left: 1rem;
  }

  .search-input {
    margin-top: 1.5rem;
    max-width: 100%;

    &.search-input--active {
      max-width: 45rem;
    }
  }

  .feedback-form {
    margin: 1rem 0;
    padding-left: 0;

    p {
      display: none;
    }
  }
}

.search-results__content {
  max-width: @contentMaxWidth;
  margin: auto;
}

@media(min-width: @tabletMinSize) {
  .search-results__magazines {
    overflow: hidden;

    .magazine-preview {
      display: inline-block;
      width: 33.3%;
      padding: 1rem;

      & > * {
        display: block;
        width: 100%;
      }

      i {
        display: none;
      }
    }

    .magazine-preview__cover {
      width: 100%;
    }

    .magazine-preview__info {
      width: 100%;
      padding: 0;

      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }

      p {
        display: none;
      }
    }
  }
}

@media(min-width: @desktopMinSize) {
  .search-results__magazines .magazine-preview {
    width: 25%;
  }

  .search-results__content > div {
    display: inline-block;
    padding-left: 0.3rem;

    &:first-child {
      width: 20%;
      vertical-align: top;
    }

    &:last-child {
      width: 80%;
    }
  }
}
