@import "../../public/responsive.less";
@import "../top_panel/top_panel.less";

.directions {
  background-color: #292a2e;
  display: table;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: @topPanelHeight;
  max-width: @contentMaxWidth;
  margin: auto;

  & > div {
    display: table-cell;
  }

  .message {
    text-align: center;
    color: #808186;
    padding: 1rem 0.5rem;
    height: 100%;
    line-height: 5rem;
  }
}

.directions__main > div {
  display: table;
  height: 100%;
  width: 100%;

  & > div {
    display: table-row;
  }
}

.directions__content {
  height: 100%;

  & > div {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
  }
}

.directions__list,
.directions__map {
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.directions__map {
  overflow: hidden;
}

.directions__list {
  overflow-x: hidden;
  overflow-y: auto;
}

.directions__waiting {
  text-align: center;
}

.directions__list > div {
  border-bottom: 1px solid #b3b3b3;
}

@media(min-width: @tabletMinSize) {
  .directions__list {
    right: 50%;
  }
  .directions__map {
    left: 50%;
  }
}

@media(min-width: @desktopMinSize) {
  .directions__sidebar {
    width: 25%;
    vertical-align: top;
    position: relative;

    .sidebar {
      position: absolute;
      display: block;
      height: 100vh;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0 0.5rem;
    }
  }
  .directions__main {
    padding-left: 1rem;
    width: 75%;
    vertical-align: top;
  }
}
