@import "../../public/responsive.less";

@bg-color: #111c28;
@mostPopularPanelHeight: 8rem;
@magazineHeight: @mostPopularPanelHeight - 2.5;
@magazineWidth: @magazineHeight * 3 / 4;
@tabletMagazineHeight: @magazineHeight * 1.5;
@tabletMagazineWidth: @magazineWidth * 1.5;
@magazineGap: 0.3rem;

.most-popular {
  color: white;
  background-color: #111c28;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    width: 100%;
    height: 10px;

    background:
      linear-gradient(
        45deg, transparent 33.333%,
        @bg-color 33.333%, @bg-color 66.667%,
        transparent 66.667%
      ),
      linear-gradient(
        -45deg, transparent 33.333%,
        @bg-color 33.333%, @bg-color 66.667%,
        transparent 66.667%
      );
    background-size: 20px 40px;
  }

  .message {
    font-size: 0.85rem;
    text-align: center;
    max-height: 4rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: initial;
    width: 90%;
  }
}

.most-popular--expanded {
  height: @mostPopularPanelHeight;
}

.most-popular__title {
  display: table;
  color: white;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  h2 {
    display: table-cell;
    width: 100%;
    font-size: 0.85rem;
    padding: 0.5rem;
  }

  i {
    display: table-cell;
    padding: 0 1rem;
    font-size: 1.4rem;
    vertical-align: middle;
  }
}

.most-popular__magazines {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  text-align: center;
}

.most-popular__magazine {
  display: inline-block;
  margin: 0 @magazineGap;
  background-color: white;
  background-size: cover;
  height: @magazineHeight;
  width: @magazineWidth;
}

.most-popular__bottom-bar {
  color: #797B7E;
  background-color: #1B222D;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  & > div {
    max-width: @contentMaxWidth;
    margin: auto;
    text-align: right;
    padding: 0.5rem 3rem;
  }

  a {
    font-size: 0.85rem;
    text-decoration: none;
    color: #797B7E;
  }
}

@media(min-width: @tabletMinSize) {
  .most-popular {
    padding-bottom: 2rem;
  }

  .most-popular.most-popular--expanded {
    height: @mostPopularPanelHeight * 1.35;
  }

  .most-popular__magazine {
    height: @tabletMagazineHeight;
    width: @tabletMagazineWidth;
  }
}

@media(min-width: (@contentMaxWidth) ){
  .most-popular__title {
    width: @contentMaxWidth;
    margin: auto;
    padding-left: 0;
  }
}
