.video {
  background-color: white;
  color: #707070;

  .default-layout__content {
    line-height: 1.2rem;
    padding: 1rem;
    font-size: 0.9rem;

    iframe{
      width: 100%;
      height: 70%;
    }
  }
}
