@import "../most_popular/most_popular.less";
@import "../top_panel/top_panel.less";

.default-layout {
  min-height: 100%;
  padding-top: @topPanelHeight;
  padding-bottom: @mostPopularPanelHeight;
  color: white;
}

.default-layout__content {
  max-width: @contentMaxWidth;
  margin: auto;
}
