.favorite-magazine-button {
  border-radius: 0.2rem;
  border: none;
  font-size: 0.75rem;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  background-color: #eee;
  background-image: -webkit-linear-gradient(#ffffff, #dedede);
  background-image: linear-gradient(#ffffff, #dedede);
  color: #333;

  i {
    color: #D8B716;
    position: relative;
    left: -0.25rem;
  }
}
