.modal-layout {
  background-image: url('../../public/hero_wallpaper.jpg');
  min-height: 100%;

  .default-layout__content {
    padding: 2.5rem 0;

    h2 {
      text-align: center;
      margin: 1.5rem 0;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

.modal-layout__modal {
  background-color: white;
  color: #4E5F6F;
  border-radius: 0.5rem;
  max-width: 20rem;
  margin: 1.5rem auto;
  padding: 0.1rem 0;
}

.modal-layout__modal__content {
  padding: 0 2rem;
}
