@import "../top_panel/top_panel.less";

.search-input {
  display: block;
  max-width: 3rem;

  input {
    width: 0;
    border: none;
    background: transparent;
    font-size: 1em;
    height: 100%;
    line-height: 100%;
    padding-left: 0.3rem;

    &:focus {
      outline: 0;
    }
  }

  label {
    cursor: pointer;
    display: block;
    border-radius: 1.5em;
    color: @gray;
    text-decoration: none;
    height: @buttonHeight;
    margin-top: -(@buttonHeight /2);
    line-height: @buttonHeight;
    padding: 0 0.5em;
    overflow: hidden;
  }
}

.search-input.search-input--active {
  max-width: 90%;
  left: 5%;

  label {
    border: 1px solid @gray;
  }

  span {
    display: none;
  }

  input {
    width: 90%;
  }
}

.search-input__search-results {
  position: relative;
  margin-top: 0.1rem;
  width: 100%;

  div {
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    width: 100%;
    max-height: 90vh;
    overflow-y: scroll;
    z-index: 99;
  }

  a {
    display: block;
    border: none;
    border-top: 1px solid @lightGray;
    border-radius: 0;
    text-decoration: none;
    color: @gray;
    padding: 0.5rem;

    &:first-child {
      margin-top: 0.2rem;
    }

    &:last-child {
      border-bottom: 1px solid @lightGray;
    }

    &.active {
      background: @lightGray;
    }

    i {
      float: right;
    }

    span:first-child {
      display: inline-block;
      width: 90%;
    }
  }
}

