
.share-magazine-button {
  display: inline-block;
  border: none;
  -webkit-border-radius: 2px;
  cursor: pointer;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
  font-size: 0.7rem;
  line-height: 1rem;
  padding: 0.1rem 0.25rem;

  i {
    vertical-align: text-top;
    font-size: 0.7rem;
  }
}

.share-magazine-button--facebook {
  background: #4c69ba;
  background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
  background: -webkit-linear-gradient(#4c69ba, #3b55a0);
  color: #fff;

  i {
    color: #fff;
    font-size: 0.8rem;
  }
}

.share-magazine-button--twitter {
  background-color: #eee;
  background-image: -webkit-linear-gradient(#fff,#dedede);
  background-image: linear-gradient(#fff,#dedede);
  color: #333;

  i {
    color: #00ABEC;
  }
}
