.zipcode-form {
  margin: 0.5rem 0;

  input {
    font-size: 0.85rem;
  }

  button {
    font-size: 0.8rem;
    margin-left: 0.3rem;
    background-color: #808186;
    color: white;
    border: none;
    padding: 0.25rem 0.9rem;
  }
}
