@import "../most_popular/most_popular.less";
@import "../top_panel/top_panel.less";

.about {
  min-height: 100%;
  background-color: white;
  padding-top: @topPanelHeight;
  padding-bottom: @mostPopularPanelHeight;
  color: #707070;
}

.about__content {
  line-height: 1.2rem;
  padding: 1rem;
  font-size: 0.9rem;
  max-width: @contentMaxWidth;
  margin: auto;

  h2 {
    font-size: 1.2rem;
  }

  h2, p {
    margin-bottom: 1.2rem;
  }
}

.about__disclaimer {
  font-size: 0.8rem;

  h3 {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 0.8rem;
  }
}
